<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<title>Movie Search Service</title>
</head>

<body>

	<div class="container">
	
	<!-- Start navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
   <form class="form-inline" action="#" th:action="@{/mss/list}"
					th:object="${film}" method="GET">

					<label for="subject"></label> <input class="form-control mr-sm-2"
						type="text" name="subject" th:field="*{firstName}"> <input
						class="btn btn-outline-success my-2 my-sm-0" type="submit"
						value="Search">
				</form>
  </div>
</nav>
	<!-- End navbar -->

		<hr>

		<div id="logo" class="text-center">
			<h1>
				<a href="/"> <img style="max-width: 400px;"
					th:src="@{/image/film-logo200.png}"
					class="figure-img img-fluid rounded" alt="Movie Search Service">
				</a>
			</h1>
		</div>
		<hr>
	
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th></th>

				</tr>
			</thead>

			<tbody>

				</tr>
			</tbody>
		</table>

<!-- main body start-->

		<tr th:each="poster, itemStat : *{posters}">
			<ul class="list-group">
				<li class="list-group-item">
					<div class="container">
						<div class="row">
							<div class="col" style="max-width:18%;">
								<a href="/"> <img th:src="*{posters[__${itemStat.index}__]}"
									alt="..."
									style="max-width: 150px; margin: auto; left: 1%; right: 1%;">
								</a>
							</div>
						
							<div class="col">
								<ul class="list-group">
									<li class="list-group-item" style="border: none; font-size:120%;">
									<span th:text="*{moviesList[__${itemStat.index}__].original_title}">
								</span><br>
								<span style="font-size:80%;" th:text="*{moviesList[__${itemStat.index}__].release_date}">
								</span></li>
								<br>
									<li class="list-group-item" style="border: none; font-size:80%;">
									<span style="font-size:100%;" th:text="*{genres[__${itemStat.index}__]}">
								</span>
								</li>
									<li class="list-group-item" style="border: none">Third
										item</li>
								</ul>

							</div>


						</div>
					</div>
				</li>
			</ul>
		</tr>

		<!-- main body end-->

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th></th>

				</tr>
			</thead>

			<tbody>

				</tr>
			</tbody>
		</table>

		<a th:href="@{/}">Contacts</a>

	</div>
</body>

</html>










